/* Global Styling */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBB884;
    font-family: 'DotGothic16', sans-serif;
    color: #3d2218;
    font-weight: 900;
}

p {
    color: #2B3B2D;
}

/* border styling */
.imgBorder {
    border: 9px solid #3d2218;
}

#containerBorder {
    border: 10px solid #3d2218;
    margin: 0;
    padding: 0;
}

.border1 {
    border: 10px solid #3d2218;
    margin: 1px;
    padding: 0px 30px 30px 30px;
}

.border2 {
    border: 10px solid #3d2218;
    margin: 1px;
    padding: 30px;
}


/* footer styling */

footer {
    height: 70px;
    padding: 10px 0px 30px 0px;
    clear: both;
    position: fixed;
    background-color: #2B3B2D;
    color: #E0FBFC;
    width: 100%;
    left: 0;
    bottom: 0;
}

ol ul {
    padding: 0;
}

/* nav styling */

header {
    background-color: #2B3B2D;
    width: 100%;
    color: #E0FBFC;
}

.navbar-light .navbar-brand {
    color: #E0FBFC;
}

.social {
    text-align: center;
    padding-bottom: 70px;
}

.social li {
    display: inline;

}

.social i {
    font-size: 160%;
    margin: 1%;
    color: #3d2218;
}

/* Game Styling */



#game {
    text-align: center;
    margin: auto;
    width: 840px;
    height: 650px;
    padding-top: 300px;
}

.game-card{
    width: 120px;
    height: 120px;
    margin: 5px;
    cursor: pointer;
}


