/* Global Styling */
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBB884;
    font-family: "DotGothic16", sans-serif;
    color: #3D2218;

    display: flex;
    flex-direction: column;

    min-height: 100%;
    font-size: 1.25em;
    font-weight: bold;
}

p {
    color: #2B3B2D;
}

/* border styling */
.imgBorder {
    border: 9px solid #3D2218;
}

#containerBorder {
    border: 10px solid #3D2218;
    margin: 0;
    padding: 0;
}

.border1 {
    border: 10px solid #3D2218;
    padding: 0px 30px 30px 30px;
}

/* footer styling */

footer {
    height: 90px;
    padding: 10px 0px 0px 0px;
    clear: both;
    background-color: #2B3B2D;
    color: #E0FBFC;
    width: 100%;
    margin-bottom: 0;
    margin-top: auto;
}

ol,
ul {
    padding-left: 0;
}

/* nav styling */

header {
    background-color: #2B3B2D;
    width: 100%;
    color: #E0FBFC;
    font-size: 1.15em;
}

.navbar-light .navbar-brand {
    color: #E0FBFC;
}

.social {
    justify-content: center;
    text-align: center;

}

.social li {
    display: inline;
}

.social i {
    font-size: 1.1em;
    margin: 1%;
    color: #E0FBFC;
}

.logo {
    font-size: 1.25em;
}

/* Game Styling */

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    margin: 30px;
    justify-content: center;
}

.game-card {
    width: 110px;
    height: 110px;
    margin: 5px;
    cursor: pointer;
}

.page-title {
    font-weight: bold;
    text-align: center;
}

.game-info {
    font-size: 2em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

/* overlay styling */
.overlay-text {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 100;
    color: #EBB884;
    font-family: "DotGothic16", sans-serif;
}

.overlay-text-small {
    font-size: .3em
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

#resetBtn {
    margin: 0 auto;
    border: 5px solid #E0FBFC;
    border-radius: 1px;
    padding: 15px 32px 15px 32px;
    margin-bottom: 2em;
    text-align: center;
    font-size: large;
    background-color: #3D2218;
    color: #E0FBFC;
    display: block;
    cursor: pointer;
}

#resetBtn:hover {
    background-color: #3D2218;
    color: #E0FBFC;
    transform: scale(1.10);
}

/* overlay animation */
@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 3em;
    }
}

@media (max-width: 830px) {
    .game-container {
        grid-template-columns: repeat(3, auto)
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 500px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }

}