* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5a361;
    font-family: 'DotGothic16', sans-serif;
    color: #623B2D;
    font-weight: 900;
}

p {
    color: #2B3B2D;
}

#containerBorder {
    border:10px solid #623B2D;
    margin:0;
    padding:0;
}
.border1 {
    border:10px solid #623B2D;
    margin:1px;
    padding:2px;}


/* footer styling */

footer {
    height: 70px;
    padding: 50px 0px;
    clear: both;
    color: #2B3B2D;
}

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size: 160%;
    margin: 1%;
    color: #623B2D;
}

.gap100 {
    padding: 70px 20px;
}

/* Play now button */

#playbtn {
    text-align: center;
    clear: both;
    padding-top: 50px;
    height: 50px;
}

#playnow {
    text-decoration: none;
    color: inherit;
    border: 3px solid #623b2d;
    font-size: x-large;
    padding: 30px;
    margin: 20px 2px;
    border-radius: 75%;
    cursor: pointer;
}
